.tab-div {
  transition: all 0.2s ease-in-out;
}

.tab-div .tabs-mobile {
  text-wrap: nowrap;
  font-size: 10px;
  font-weight: 700;
  flex-direction: column;
  gap: 1px;
  color: #383838;
  transition: all 0.2s ease-in-out;
}

.tab-div .icon-div {
  margin: 0;
  justify-content: center;
}

.tab-div .icon {
  margin-bottom: 2px;
  font-size: 25px;
  transition: transform 0.2s ease-in-out;
}

.tab-div button[aria-selected="true"] {
  color: #5838fc;
  font-size: 0;
}

.tab-div button[aria-selected="true"] .icon {
  transform: scale(1.4);
}

@media screen and (max-width: 768px) {
  .tab-div .tabs-mobile {
    font-size: 7px;
  }
  .tab-div .icon {
    font-size: 21px;
  }
}
